{% load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'signin.css'%}">
</head>
<body>
    <div>
        <div>
            <form action="" method="post">
                {% csrf_token %}
                <h1>Signup</h1>
                {% for message in messages %}
                <h5 style="color: red;">{{ message }}</h5>
                {% endfor %}
                <label for="">Username</label>
                <input type="text" name="username">
                <label for="">Email</label>
                <input type="email",name="email">
                <label for="">Password</label>
                <input type="password" name="password1">
                <label for="">Conform password</label>
                <input type="password" name="password2">

                <button type="submit">Submit</button>
                <h5>if you alredy have an account <a href="{% url 'signin'%}">sign in</a></h5>
            </form>
        </div>
    </div>
</body>
</html>